<form action="">
  <div class="input-group">
    <div>
      <label for=""> Initial Investment </label>
      <input type="number" />
    </div>
    <div>
      <label for=""> Annual Investment </label>
      <input type="number" />
    </div>
  </div>
  <div class="input-group">
    <div>
      <label for="">Expected Return</label>
      <input type="number" />
    </div>
    <div>
      <label for="">Duration</label>
      <input type="number" />
    </div>
  </div>
  <button>Calculate</button>
</form>
